.window {

  border: solid;
  width: 400px;
  height: 300px;

  padding: 20px;
  background-color: #5d95aa;
  border-radius: 22px;
  position: absolute;

  resize: both;
  overflow: auto;
}



  .bottom-bar {
  border:solid;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 99%;
  height: 64px;          /* adjust height */
      /* bar color */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
    background-color:rgba(94, 151, 208, 0.4)
}

.header {
  cursor:pointer;
}

.selected {

    background-color: rgb(142, 142, 243);
    color: white;
}


.hidden {
  display:none
}
